.container {
	width: 80%;
	margin: auto;
}
.header {
	display: flex;
	width: 100%;
	margin: auto;
	justify-content: space-between;
	align-items: center;
}
.navigation ul {
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	float: right;
}
.navigation ul li a {
	padding-left: 10px;
	height: 50px;
	padding-right: 10px;
}
.signupbtn {
	background-color: #473bf0;
	width: 124px;
	color: white;
	border: none;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: larger;
	border-radius: 5px;
	text-align: center;
}
.headerSection {
	margin: 100px auto;
	text-align: center;
	width: 40%;
}
.para {
	font-weight: 200 !important;
}
.mainHeaderText {
	font-size: 3rem;
	color: #161c2d;
	font-weight: 700;
}
.toggleSection,
.priceSection,
.featureSection {
	display: flex;
	align-items: center;
	justify-content: center;
}
.featureSection h3 {
	margin-left: 15px;
}
.priceSection {
	justify-content: space-between;
	width: 80%;
	margin: 30px auto;
}

.monthlyLabel {
	margin-right: 25px;
}
.save {
	color: #473bf0;
	font-weight: bold !important;
}
.largeFont {
	font-size: xx-large;
	font-weight: bolder;
}
.alignList,
.alignTrial {
	display: flex;
	align-items: center;
}
.alignTrial {
	margin: 30px auto !important;
}
.alignList span {
	padding-left: 10px;
}
.feature {
	display: grid;
	grid-template-columns: auto auto auto;
}
.feature div {
	text-align: center;
	width: 90%;
	margin: auto;
}
.footer {
	background-color: #161c2d;
	color: white;
	margin-top: 50px;
}
.footerSections {
	display: flex;
	justify-content: center;
	width: 90%;
	margin: auto;
}
.footerSections div {
	font-weight: 200;
	font-size: small;
	margin: 50px;
}
.footerSections ul li {
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
}
.socialIcons {
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin: auto;
}
.alignIcons {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 15%;
}
